.img-slider{
    width: 22rem !important;
    margin-bottom: 40px !important;
}

@media screen and (max-width: 676px) {
    .img-slider{
        width: 18rem !important;
        margin-bottom: 30px !important;
    }
}
