@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
}

body{
    scroll-behavior: smooth;
}

.my-container{
 @apply w-[95%] lg:w-[85%] mx-auto
}

.my-btn-primary{
    transition: all ease .4s;
    @apply text-white bg-[#FC7800] lg:px-7 px-4 py-2 text-xl rounded-md border border-transparent hover:bg-transparent hover:border-[#FC7800] hover:text-[#FC7800] font-semibold
}

.active{
    @apply text-[#FF912E]
}

.dropdown ul li:active{
    background: none !important;
}



